.screen{
    display: grid;
    grid-template-rows: 10fr 80fr 10fr;
    grid-template-columns: 35fr 30fr 35fr;
    height: 100vh;
}

.calculator{
    grid-column: 2;
    grid-row: 2;
    border: 1px solid black;
    border-radius: 5%;
    padding: 1em;
    max-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(2, 7, 29);
    box-shadow: 0 0 0.25em black;
}

.button{
    margin: 1em;
    display: grid;
    place-items: center;
    width: 3em;
    height: 3em;
    border: 1px solid #bbb;
    background-color: rgb(78, 143, 205);
    color: rgb(2, 10, 43);
    cursor: pointer;
    border-radius: 1em 1em 1em 1em;
    box-shadow: 0 0 0.1em white;
}

.buttonsConteiner{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: rgb(2, 10, 43);
    box-shadow: 0 0 0.2em white;
}

.display{
    display: flex;
    justify-content: flex-end;
    border: 1px solid #bbb;
    border-radius: 0.5em 0.5em 0em 0em;
    background-color: rgb(163, 211, 255);
    color: rgb(2, 10, 43);
    padding: 0.5em;
    font-size: 1.5em;
    box-shadow: 0 0 0.2em white;
}

.disabled{
    background-color: gray;
}

.error{
    display: flex;
    justify-content: flex-end;
    border: 1px solid #bbb;
    border-radius: 0.5em 0.5em 0em 0em;
    background-color: rgb(255, 163, 163);
    color: rgb(2, 10, 43);
    padding: 0.5em;
    font-size: 1.5em;
    box-shadow: 0 0 0.2em white;
}